<h1>메뉴 선택하기</h1>
<br>

<div>
  <form action="{% url 'polls:choosing' nickname_id=nickname_id cate_id=object.id %}" method="post">
    {% csrf_token %}
    <span>
        {% for menu in object.menu_set.all %}
        <input type="checkbox" name="menu" id="menu{{ forloop.counter }}" value="{{ menu.id }}">
        <label for="menu{{ forloop.counter }}">{{ menu.menu_name }} {{menu.price}}원</label><br><br>
        {% endfor %}
        <br>
        <input type="submit" value="주문하기">
    </span>
  </form>
</div>
